apiVersion: v1
kind: ConfigMap
metadata:
  name: mosquitto-config
  namespace: default
data:
  mosquitto.conf: |
    listener 1883
    allow_anonymous true
    log_type all
    persistence true
    persistence_location /mosquitto/data/
    log_dest stdout
    # Uncomment for WebSocket support (optional)
    # listener 9001
    # protocol websockets
